head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Cuestionario
  link(rel='stylesheet' href='css_unidades/bootstrap.min.css')
  link(rel='stylesheet' href='css_unidades/font-awesome.min.css')
  link(rel='stylesheet' href='css_unidades/normalize.css')
  link(href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css')
  link(href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css')
  link(rel='stylesheet' href='css_unidades/style.css')

// ======================================== Boton ir arriba ========================================
i.btn-up.fa.fa-arrow-circle-o-up.hidden-xs
// ======================================== Navegación ========================================
header.full-reset.header
  // ======================================== Logo(Nombre INS) ========================================
  .full-reset.logo
    span.hidden-lg.hidden-md Lorem
    span.hidden-xs.hidden-sm Cuestionario
  // ======================================== Links de navegación ========================================
  nav.full-reset.navigation
    ul.full-reset.list-unstyled
      li
        a(href='inicio') Volver al inicio     
  // ======================================== Mega menu ========================================
  .full-reset.mega-menu
    .container
      .row
    i.fa.fa-times-circle.btm-mega-menu.close-mega-menu.fa-2x
  // ======================================== Boton menu mobil ========================================
  a.hidden-sm.hidden-md.hidden-lg.pull-right.button-menu-mobile.show-close-menu-m(href='#')
    i.fa.fa-ellipsis-v
// ======================================== contenido de la pagina ========================================
section.full-reset(style='min-height: 850px;')
  .jumbotron
    h2.text-center.titles  PLANEO EL ESTUDIO DE MI UNIDAD
      // ======================================== Info. ========================================
  article
    .container
      .row
        .col-xs-12
          
          h3.titles Te invitamos a resolver las siguientes preguntas:
          br
          
          if(errores)
            each error in errores 
              .alert.col.alert-danger.text-center= error.mensaje

          form(action="/cuestionario1", method="POST")
            select#Q.hidden(name="Q")
                option(value='1_3')
            br
            br
            select#formValue.hidden(name="formValue")
              option(value='cuestionario1_3')    
            .form-group
              h4 Monitoreo    
              p 1. En la mitad de la unidad elegiste 
                p= respuestas[0].P1 
              p para terminarla. ¿crees que estimaste bien el tiempo?
              br 
              select#P1(name="P1")
                  option(value=P1)=P1
                  option(value='1')  SI
                  option(value='2')  NO
              br
              br  
              br
            .form-group
              h4 Estrategias de Aprendizaje
              p
              | 2. Durante la unidad elegiste la etrategia 
              p= respuestas[0].P2
              p= respuestas[0].P2a
              p ¿crees que esto fue útil para tu aprendizaje?
              br
              select#P2(name="P2")
                option(value=P2)=P2 
                option(value='1')  SI
                option(value='2')  NO
              br
              br
              br
            .form-group
              h4 Conocimiento
              p 
                | 3. ¿Cuánto crees que has aprendido del tema?
                br
                select#P3(name="P3")
                  option(value=P3)=P3
                  option(value='1')  1-No he aprendido nada del tema
                  option(value='2')  2-He aprendido un poco del tema
                  option(value='3')  3-He aprendido del tema
                  option(value='4')  4-He aprendido bastante del tema
                  option(value='5')  5-He aprendido completamente el tema
              br
              br
            input(type='submit' value='Enviar respuestas')    
                

